<table class="table table-hover">
    <thead>
        <th>#</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Poblacion</th>
        <th></th>

    </thead>
    <tbody>
        <tr *ngFor="let pais of paises">
            <td> {{this.pais.numericCode}} </td>
            <td ><img class="small-flag" src="{{this.pais.flag}}">  </td>
            <td>{{this.pais.name}} </td>
            <td>{{this.pais.capital}} </td>
            <td>{{this.pais.population | number}} </td> 
            <td> <a routerLink="/pais/{{this.pais.alpha2Code}}"> Ver...</a> </td>
        </tr>   
    </tbody>
</table>